<div class="container">
  <h3> Agregar entrada </h3>

  <form (submit)="publicar()">
    <div class="form-group">
      <label>Título</label>
      <input type="email" class="form-control" [(ngModel)]="titulo" name="titulo" aria-describedby="emailHelp"
        placeholder="Ingresar Título...">
    </div>
    <div class="form-group">
      <label>Contenido </label>
      <textarea class="form-control" [(ngModel)]="contenido" name="contenido"></textarea>
    </div>
    <div class="form-group">
      <label>Imágen </label>
      <input type="file" id="file" (change)="handleFileInput($event.target.files)">
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
</div>